<div class="excursions-carousel-container">
	<!-- <ngb-carousel #carousel class="excursions-carousel" [ngClass]="{ 'loading': isLoading }" [interval]="5000" -->
	<ngb-carousel #carousel class="excursions-carousel" [interval]="5000"
		[keyboard]="true" [pauseOnHover]="true" [showNavigationIndicators]="showNavigationIndicators" (slide)="onSlide.emit($event)" role="group">
		<ng-template *ngFor="let item of items; let i = index" ngbSlide [id]="'image-' + i">
			<div class="image-wrapper">
				<picture>
					<source [srcset]="getImage(item.id, Resolution.nHD, ImageExtension.WEBP)" media="(max-width: 1399px)" type="image/webp">
					<source [srcset]="getImage(item.id, Resolution.FWVGA, ImageExtension.WEBP)" media="(min-width: 1400px)" type="image/webp">
					<source [srcset]="getImage(item.id, Resolution.nHD, ImageExtension.PNG)" media="(max-width: 1399px)" type="image/png">
					<source [srcset]="getImage(item.id, Resolution.FWVGA, ImageExtension.PNG)" media="(min-width: 1400px)" type="image/png">
					<!-- <img [src]="getImage(item.id, Resolution.FWVGA, ImageExtension.PNG)" alt="Image #{{ i }}" class="img-fluid" (load)="onImageLoad(i)" -->
					<img [src]="getImage(item.id, Resolution.FWVGA, ImageExtension.PNG)" alt="Image #{{ i }}" class="img-fluid"
						[attr.fetchpriority]="i === 0 ? 'high' : 'auto'" [loading]="i === 0 ? 'eager' : 'lazy'">
				</picture>
				<!-- <app-loading-spinner *ngIf="isLoading" [sizePX]="96" [center]="false" [color]="Color.BLACK"></app-loading-spinner> -->
			</div>
			<div *ngIf="item.title || item.description" class="carousel-caption">
				<h3>{{ item.title }}</h3>
				<p>{{ item.description }}</p>
			</div>
		</ng-template>
	</ngb-carousel>
</div>