<section class="admin-menu-container">
	<span class="admin-menu-item" routerLink="/admin" placement="end" ngbTooltip="Wycieczki">
		<img src="assets/icons/list-fill.svg" alt="wycieczki">
	</span>
    <span class="admin-menu-item" routerLink="/admin/templates" placement="end" ngbTooltip="Szablony wycieczek">
        <img src="assets/icons/template.svg" alt="szablony wycieczek">
    </span>
	<span class="admin-menu-item" routerLink="/admin/orders" placement="end" ngbTooltip="Zamówienia">
		<img src="assets/icons/basket-fill.svg" alt="zamowienia">
	</span>
	<span class="admin-menu-item" routerLink="/admin/settings" placement="end" ngbTooltip="Ustawienia">
		<img src="assets/icons/settings-fill.svg" alt="ustawienia">
	</span>
</section>