<section class="admin-menu-container">
	<span class="admin-menu-item" routerLink="/admin" placement="end" ngbTooltip="Wycieczki">
		<span class="icon-container">
			<svg-icon class="icon" name="list-fill"></svg-icon>
		</span>
	</span>
	<span class="admin-menu-item" routerLink="/admin/orders" placement="end" ngbTooltip="Zamówienia">
		<span class="icon-container">
			<svg-icon class="icon" name="basket-fill"></svg-icon>
		</span>
	</span>
	<span class="admin-menu-item" routerLink="/admin/settings" placement="end" ngbTooltip="Ustawienia">
		<span class="icon-container">
			<svg-icon class="icon" name="settings-fill"></svg-icon>
		</span>
	</span>
</section>