@use 'src/styles/mixins' as mixins;

.admin-menu-container {
	display: flex;
	flex-direction: column;
	box-shadow: var(--app-black-opacity-2-color) 0px 3px 8px;
	padding-top: 16px;
	height: 100%;
	gap: 12px;

	@include mixins.breakpoint(md) {
		padding-top: 32px;
	}

	.admin-menu-item {
		display: flex;
		padding: 8px;
		cursor: pointer;

		&:hover {
			.icon-container {
				.icon {
					color: var(--app-light-orange-color);
				}
			}
		}

		img {
			display: inline-block;
			width: 24px;
			height: 24px;
		}
	}
}