.admin-orders-excursion-order-participant-container {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	gap: 8px;

	img {
		display: inline-block;
		width: 16px;
		height: 16px;
	}

	&.minified {
		.admin-orders-excursion-order-participant-name,
		.admin-orders-excursion-order-participant-surname {
			font-weight: bold;
		}
	}

	.admin-orders-excursion-order-participant-discount {
		font-weight: bold;
	}

	.admin-orders-excursion-order-participant-name,
	.admin-orders-excursion-order-participant-surname,
	.admin-orders-excursion-order-participant-discount,
	.admin-orders-excursion-order-participant-email,
	.admin-orders-excursion-order-participant-telephone-number,
	.admin-orders-excursion-order-participant-birth-date {
		font-size: 16px;
	}
}