<div class="form-field-container register-last-name-field-container">
    <input #inputRef type="text" class="form-control" [ngModel]="value()" [placeholder]="'Nazwisko'" [disabled]="isDisabled()"
        [ngClass]="{ 'has-error': errorKey && touched }" (ngModelChange)="updateValue(inputRef.value)" (blur)="onTouched()">
    <div *ngIf="touched && errorKey" class="errors" [ngSwitch]="errorKey">
        <span *ngSwitchCase="'required'" class="error">Pole wymagane</span>
        <span *ngSwitchCase="'maxlength'" class="error">Pole może zawierać maksymalnie 50 znaków</span>
    </div>
</div>