.home-excursions-item-container {
	display: flex;
	flex-direction: column;
	height: 100%;
	cursor: pointer;

	&:hover {
		.card {
			background-color: var(--app-light-orange-opacity-2-color);
		}
	}

	.card {
		--bs-card-height: 100%;
		position: relative;
	
		.home-excursions-item-image {
			aspect-ratio: 16 / 9;
			object-fit: cover;
			object-position: center;
		}
	
		.home-excursions-item-content {
			display: flex;
			flex-direction: column;
			padding-top: 16px;
			
			.home-excursions-text-container {
				flex: 1;
	
				.card-title {
					font-size: 20px;
					font-weight: bold;
					margin: 0;
				}
			}
		}
	
		.price {
			display: inline-flex;
			flex-direction: column;
			padding: 8px;
			position: absolute;
			top: 20px;
			right: 20px;
			background-color: var(--app-gray-color);
			border-radius: 8px;
			
			.value,
			.text {
				width: 100%;
				text-align: right;
				line-height: 1;
			}
	
			.value {
				font-weight: bold;
				font-size: 20px;
				margin-bottom: 4px;
			}
	
			.text {
				font-size: 14px;
			}
		}
	}
}