<section *ngIf="item" class="home-excursions-item-container">
	<div [routerLink]="'/excursions/details/' + item.id" class="card">
		<picture>
			<source [srcset]="getImage(ImageExtension.WEBP)" type="image/webp">
			<source [srcset]="getImage(ImageExtension.PNG)" type="image/png">
			<img [src]="getImage(ImageExtension.PNG)" [alt]="item.title" class="card-img-top home-excursions-item-image" loading=lazy>
		</picture>
		<div class="card-body home-excursions-item-content">
			<div class="home-excursions-text-container">
				<span class="card-title">[{{ item.dateFrom && item.dateTo ? (item.dateFrom | date: 'dd.MM.yyyy') + ' - ' + (item.dateTo | date: 'dd.MM.yyyy') : (item.dateFrom | date: 'dd.MM.yyyy') }}] - {{ item.title }}</span>
			</div>
		</div>
		<span class="price">
			<span *ngIf="item.priceGross === 0; else price" class="value">Cena wkrótce</span>
			<ng-template #price>
				<span class="value">{{ item.priceGross | number: '1.2-2' }} PLN</span>
				<span class="text">za osobę</span>
			</ng-template>
		</span>
	</div>
</section>