<section class="admin-orders-details-modal-container">
    <div class="admin-orders-details-modal-content">
        <h3>Edycja rezerwującego wycieczkę</h3>
        <app-excursions-enroll-form-booker [form]="form" [discount]="discount"></app-excursions-enroll-form-booker>
        <div class="admin-orders-details-modal-actions">
            <button type="button" class="btn admin-orders-details-modal-cancel-btn" (click)="onCancel()">
                <span>Anuluj</span>
            </button>
            <button type="button" class="btn admin-orders-details-modal-submit-btn" (click)="onSubmit()">
                <app-loading-spinner *ngIf="loadingState() === LoadingState.LOADING; else btnText" [sizePX]="21" [color]="Color.BLACK" [center]="false"></app-loading-spinner>
                <ng-template #btnText>
                    <span>Zapisz</span>
                </ng-template>
            </button>
        </div>
    </div>
</section>