:host {
    display: block;
    width: 100%;
}

.excursions-home-container {
    display: flex;
    flex-direction: column;
    gap: 32px;
    align-items: center;

    .excursions-home-carousel-container,
    .excursions-home-content {
        width: 100%;
    }

    .excursions-home-carousel-container {
        display: flex;
        justify-content: center;
        background-color: var(--app-light-orange-opacity-5-color);
    }

    .excursions-home-content {
        max-width: 1920px;
    }

    app-excursions-home-newsletter {
		display: block;
		width: 100%;
	}
}