.excursions-enroll-success-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	height: 100%;
	padding: 32px 16px;
	max-width: 1200px;
	margin: 0 auto;
	gap: 32px;

	@media(min-width: 768px) {
		padding: 32px;
	}

	img {
		display: inline-block;
		width: 75px;
		height: 75px;
		filter: var(--app-success-color-filter);
	}

	.text-container-header {
		font-size: 32px;
		font-weight: bold;
		text-align: center;
	}

	.text-container {
		display: flex;
		flex-direction: column;
		gap: 8px;
		font-size: 18px;
		text-align: center;
	}
}