<header class="header-container">
	<section class="header-content">
		<div class="logo-container">
			<img src="assets/images/logos/logo_colored.png" alt="logo" (click)="redirectToHomePage()">
		</div>
		<div class="navigation-container">
			<a *ngFor="let tab of tabs" class="navigation" [routerLink]="tab.path">{{ tab.name }}</a>
		</div>
		<app-header-menu></app-header-menu>
		<div class="action-buttons-container">
			<button type="button" class="menu-btn" (click)="openSideMenu()"></button>
		</div>
	</section>
</header>