<nav class="header-menu-container" ngbDropdown #headerMenuDropdown="ngbDropdown" display="dynamic" placement="bottom-end">
	<button type="button" class="header-menu-toggle-btn" id="header-menu-toggle-btn" aria-label="Menu toggle button" ngbDropdownToggle>
		<div *ngIf="auth" class="header-menu-content">
			<section class="user">
				<img src="assets/icons/user.svg" alt="user">
				<span class="user-info">{{ auth.Login }}</span>
			</section>
		</div>
		<img src="assets/icons/menu.svg" alt="menu">
	</button>
	<div ngbDropdownMenu class="header-menu-dropdown-container">
		<app-header-menu-options [auth]="auth" (closeMenu)="headerMenuDropdown.close()"></app-header-menu-options>
	</div>
</nav>