.excursions-enroll-form-participant-container {
    .excursions-enroll-form-participant-header {
        display: block;
        font-size: 18px;
        font-weight: bold;
        line-height: 1;
    }
}