:host {
    display: block;
    width: 100%;
}

.home-container {
	display: grid;
	grid-auto-flow: row;
	place-items: center;
	gap: 32px;

	.home-carousel-container,
	.home-content {
		width: 100%;
	}

	.home-carousel-container {
		display: grid;
		place-items: center;
		background-color: var(--app-light-orange-opacity-5-color);
	}

	.home-content {
		max-width: 1920px;
	}

	app-home-newsletter {
		display: block;
		width: 100%;
	}
}