<section class="admin-orders-excursion-order-container">
	<div class="admin-orders-excursion-order-collapse-trigger" (click)="collapse.toggle()">
		<div class="admin-orders-excursion-order-collapse-icon-container">
			<img src="assets/icons/credit-card.svg" loading="eager">
		</div>
		<div class="admin-orders-excursion-order-collapse-text-container">
			<app-admin-orders-excursion-order-participant *ngIf="booker" [participant]="booker" [minified]="true"></app-admin-orders-excursion-order-participant>
		</div>
		<span class="admin-orders-excursion-order-collapse-actions-container">
			<button type="button" class="btn admin-orders-excursion-order-collapse-btn" [ngClass]="{ 'opened': !isCollapsed }">
				<img src="assets/icons/chevron-right.svg" loading="eager">
			</button>
		</span>
	</div>
	<div class="admin-orders-excursion-order-collapse-content" #collapse="ngbCollapse" [(ngbCollapse)]="isCollapsed">
		<div class="admin-orders-excursion-order-collapse-list">
			<span class="admin-orders-excursion-order-collapse-content-id">
				<span class="admin-orders-excursion-order-collapse-content-label">Identyfikator: </span>
				<span class="admin-orders-excursion-order-collapse-content-value">{{ order.orderId | uppercase }}</span>
			</span>
			<span class="admin-orders-excursion-order-collapse-content-discount">
				<span class="admin-orders-excursion-order-collapse-content-label">Cena: </span>
				<span class="admin-orders-excursion-order-collapse-content-value">{{ order.price | number: '1.2-2' }}</span>
			</span>
			<span class="admin-orders-excursion-order-collapse-content-payment-status">
				<span class="admin-orders-excursion-order-collapse-content-label">Zapłacono: </span>
				<span class="admin-orders-excursion-order-collapse-content-value">{{ order.paymentStatus === PaymentStatus.NOT_PAID ? "NIE" : "TAK" }}</span>
			</span>
			<span class="admin-orders-excursion-order-collapse-content-payment-method">
				<span class="admin-orders-excursion-order-collapse-content-label">Metoda płatności: </span>
				<span class="admin-orders-excursion-order-collapse-content-value" [ngSwitch]="order.paymentMethod">
					<span *ngSwitchCase="PaymentMethod.TRADITIONAL_TRANSFER">Przelew tradycyjny</span>
					<span *ngSwitchCase="PaymentMethod.PRZELEWY_24">Przelewy24</span>
				</span>
			</span>
			<span class="admin-orders-excursion-order-collapse-content-participants">
				<span class="admin-orders-excursion-order-collapse-content-label">Uczestnicy: </span>
			</span>
			<app-admin-orders-excursion-order-participant *ngFor="let participant of order.participants" [participant]="participant"></app-admin-orders-excursion-order-participant>
			<div class="admin-orders-excursion-order-action-buttons-container">
				<button type="button" class="btn admin-orders-excursion-order-change-status-btn" (click)="changeStatus()">
					<app-loading-spinner *ngIf="loadingState !== LoadingState.LOADED; else btnText" [sizePX]="21" [center]="false" [color]="Color.BLACK"></app-loading-spinner>
					<ng-template #btnText>
						<span>Oznacz jako {{ order.paymentStatus === PaymentStatus.NOT_PAID ? "zapłacone" : "nie zapłacone" }}</span>
					</ng-template>
				</button>
			</div>
		</div>
	</div>
</section>