<section class="excursions-home-newsletter-container">
    <header class="excursions-home-newsletter-header">Newsletter</header>
    <header class="excursions-home-newsletter-subheader">Zapisz się, aby otrzymywać informację o naszych ofertach i promocjach</header>
    <span class="excursions-home-newsletter-info">
        <span>Chcesz być na bieżąco z naszymi najnowszymi ofertami wycieczek?</span>
        <span>Zostaw swój adres e-mail poniżej, a my upewnimy się, że otrzymasz informacje o nowych, ekscytujących wycieczkach, które mamy do zaoferowania!</span>
        <span>Nie przegap okazji na wymarzone podróże - zapisz się już teraz!</span>
    </span>
    <button type="button" class="btn excursions-home-newsletter-enroll-btn" (click)="enroll()">
        <span>Zapisz się</span>
    </button>
</section>