.excursions-home-newsletter-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 48px 32px;
    background-color: var(--app-light-gray-color2);

    .excursions-home-newsletter-header,
    .excursions-home-newsletter-subheader {
        width: 100%;
        text-align: center;
        font-weight: bold;
    }

    .excursions-home-newsletter-header {
        font-size: 24px;
        margin-bottom: 6px;
    }

    .excursions-home-newsletter-subheader {
        font-size: 18px;
        margin-bottom: 24px;
    }

    .excursions-home-newsletter-info {
        display: flex;
        flex-direction: column;
        gap: 4px;
        text-align: center;
        margin-bottom: 24px;
    }

    .excursions-home-newsletter-enroll-btn {
        background-color: var(--app-light-orange-color);
        font-weight: bold;
        color: black;
        max-width: 200px;
        width: 100%;
        padding: 8px 12px;
    }
}