<section class="admin-excursions-form-container">
    <form *ngIf="form" class="form" [formGroup]="form">
        <app-admin-excursions-form-title formControlName="title"></app-admin-excursions-form-title>
        <app-admin-excursions-form-short-description formControlName="shortDescription"></app-admin-excursions-form-short-description>
        <app-admin-excursions-form-editor [control]="getFormControl('description')"></app-admin-excursions-form-editor>
        <app-admin-excursions-form-images [excursionId]="getFormControl('id').value" [formArray]="images"></app-admin-excursions-form-images>
        <app-admin-excursions-form-pickup-points [control]="pickupPoints"></app-admin-excursions-form-pickup-points>
        <app-admin-excursions-form-checkbox [id]="'active'" [label]="'Aktywna'" formControlName="active"></app-admin-excursions-form-checkbox>
        <app-admin-excursions-form-checkbox [id]="'in-carousel'" [label]="'W karuzeli'" formControlName="inCarousel"></app-admin-excursions-form-checkbox>
        <app-admin-excursions-form-dates [dateFromControl]="getFormControl('dateFrom')" [dateToControl]="getFormControl('dateTo')"></app-admin-excursions-form-dates>
        <app-admin-excursions-form-price formControlName="price"></app-admin-excursions-form-price>
        <app-admin-excursions-form-checkbox [id]="'discount'" [label]="'Ulga'" formControlName="discount"></app-admin-excursions-form-checkbox>
        <ng-container *ngIf="getFormControl('discount').value === true">
            <app-admin-excursions-form-discount-price formControlName="discountPrice"></app-admin-excursions-form-discount-price>
        </ng-container>
        <app-admin-excursions-form-seats formControlName="seats"></app-admin-excursions-form-seats>
        <button type="button" class="btn form-submit-btn" [disabled]="submitButtonDisabled" (click)="onFormSubmit()">
            <span>Wyślij</span>
        </button>
    </form>
</section>