<section class="admin-excursions-form-container">
	<h3 class="section-title">{{ mode() === FormMode.EDIT ? template ? 'Edycja szadblonu wycieczki' : 'Edycja wycieczki': template ? 'Nowy szablon wycieczki' : 'Nowa wycieczka' }}</h3>
	<app-loading-spinner *ngIf="state() === LoadingState.LOADING; else content"></app-loading-spinner>
	<ng-template #content>
        <app-admin-excursions-form-common [form]="form()" [mode]="mode()" (submit)="onFormSubmit()"></app-admin-excursions-form-common>
	</ng-template>
</section>