<section class="excursions-table-container admin-templates-table-container">
    <h3 class="section-title">Szablony wycieczek</h3>
    <div class="buttons-container">
        <button type="button" class="btn add-excursion-btn" routerLink="/admin/templates/form">
            <span>Dodaj szablon wycieczki</span>
        </button>
    </div>
    <app-loading-spinner *ngIf="state() === LoadingState.LOADING; else content" [center]="false"></app-loading-spinner>
    <ng-template #content>
        <app-admin-excursions-table-view [context]="context" [excursions]="excursions()" [buttonsEnabled]="buttonsEnabled()"
            [sorting]="sorting" [columns]="columns" (edit)="edit($event)" (delete)="delete($event)">
        </app-admin-excursions-table-view>
    </ng-template>
</section>