:root {
	--app-black-color: rgba(0, 0, 0, 1);
	--app-white-color: rgba(255, 255, 255, 1);
	--app-light-orange-color: rgba(255, 184, 42, 1);
	--app-light-orange-opacity-2-color: rgba(255, 184, 42, .2);
	--app-light-blue-color: rgba(106, 145, 222, 1);
	--app-light-gray-color: rgba(141, 146, 149, 1);
	--app-black-opacity-2-color: rgba(0, 0, 0, 0.2);
	--app-black-opacity-1-color: rgba(0, 0, 0, 0.1);
	--app-light-blue-color2: rgba(100, 149, 237, 0.5);
}