:root {
	--app-black-color: rgba(0, 0, 0, 1);
	--app-white-color: rgba(255, 255, 255, 1);
	--app-orange-color: #f7941d;
	--app-light-orange-color: rgba(255, 184, 42, 1);
	--app-light-orange-opacity-2-color: rgba(255, 184, 42, .2);
	--app-light-orange-opacity-5-color: rgba(255, 184, 42, .5);
	--app-light-blue-color: rgba(106, 145, 222, 1);
	--app-light-gray-color: rgba(141, 146, 149, 1);
	--app-light-gray-color2: rgba(211, 211, 211, 1);
	--app-black-opacity-2-color: rgba(0, 0, 0, 0.2);
	--app-black-opacity-1-color: rgba(0, 0, 0, 0.1);
	--app-light-blue-color2: rgba(100, 149, 237, 0.5);
	--app-gray-color: #BBBBBB;
	--app-blur-color: rgba(255, 255, 255, 0.7);
	--app-light-black-color: #444444;
    --app-light-danger-color: rgba(220, 53, 69, 0.25);

	--app-black-color-filter: invert(0%) sepia(90%) saturate(7500%) hue-rotate(59deg) brightness(105%) contrast(111%);
	--app-light-orange-color-filter: invert(82%) sepia(39%) saturate(2480%) hue-rotate(336deg) brightness(105%) contrast(100%);
	--app-red-color-filter: invert(10%) sepia(98%) saturate(7490%) hue-rotate(5deg) brightness(103%) contrast(110%);
	--app-green-color-filter: invert(23%) sepia(97%) saturate(2088%) hue-rotate(100deg) brightness(96%) contrast(104%);
	--app-success-color-filter: invert(41%) sepia(90%) saturate(354%) hue-rotate(100deg) brightness(87%) contrast(97%);
	--app-danger-color-filter: invert(35%) sepia(53%) saturate(5543%) hue-rotate(336deg) brightness(90%) contrast(91%);
}