.admin-orders-participants-item-container {
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
    align-items: center;

    span {
        &.bold {
            font-weight: bold;
        }
    }

    .user-icon {
        &.discount {
            filter: var(--app-primary-color-filter);
        }
    }

    .admin-orders-participants-item-actions-container {
        display: flex;
        justify-content: center;
        gap: 8px;

        &.disabled {
            cursor: not-allowed;
            opacity: 0.5;

            img {
                pointer-events: none;
            }
        }

        img {
            display: inline-flex;
            width: 16px;
            height: 16px;
            cursor: pointer;
            
            &.delete-btn {
                filter: var(--app-red-color-filter);
            }
        }
    }
}