.admin-users-list-table-container {
    display: block;
    width: 100%;
    overflow: auto;
    margin-top: 8px;

    .admin-users-list-table {
        .admin-users-list-table-thead {
            tr {
                th {
                    padding: 12px 16px;
                    white-space: nowrap;

                    &.admin-users-list-table-thead-admin,
                    &.admin-users-list-table-thead-actions {
                        text-align: center;
                    }
                }
            }
        }

        .admin-users-list-table-tbody {
            tr {
                td {
                    padding: 12px 16px;
                    vertical-align: middle;

                    &.admin-users-list-table-tbody-admin {
                        text-align: center;
                    }

                    .admin-users-list-table-tbody-actions {
                        display: flex;
                        justify-content: center;
                        gap: 12px;
                    }

                    img {
                        display: inline-flex;
                        width: 20px;
                        height: 20px;

                        &.edit,
                        &.delete {
                            cursor: pointer;
                        }

                        &.check {
                            filter: var(--app-green-color-filter);
                        }

                        &.close,
                        &.delete {
                            filter: var(--app-red-color-filter);
                        }
                    }
                }
            }
        }
    }
}