@use 'src/styles/mixins' as mixins;

.excursions-details-container {
	display: flex;
	flex-direction: column;
	width: 100vw;
	height: 100%;
	padding: 16px;
	max-width: 1200px;
	margin: 0 auto;
	overflow: hidden;

	@include mixins.breakpoint(sm) {
		padding: 32px;
	}

	.excursions-details-content {
		position: relative;
		display: flex;
		flex-direction: column;
		flex: 1;
		gap: 16px;

		.title {
			font-size: 40px;
			font-weight: bold;
			line-height: 1;
		}

		.date {
			font-size: 18px;
            
            .date-label {
                font-weight: bold;
            }
		}

		.images-carousel-container {
			position: relative;
			
			.home-carousel {
				width: 100%;
	
				@include mixins.breakpoint(md) {
					width: 640px;
				}
	
				&.loading {
					.image-wrapper {
						app-loading-spinner {
							position: absolute;
							top: 50%;
							left: 50%;
							transform: translate(-50%, -50%);
						}
					}
				}
		
				.image-wrapper {
					position: relative;
					height: 0;
					padding-top: 56%;
		
					img {
						position: absolute;
						top: 0;
						left: 0;
						bottom: 0;
						right: 0;
					}
				}
	
				.carousel-caption {
					p {
						display: none;
						
						@include mixins.breakpoint(lg) {
							display: initial;
						} 
					}
				}
			}
	
			.loading-spinner {
				position: absolute;
				top: calc(50% - 32px);
				left: calc(50% - 32px);
				--bs-spinner-width: 64px;
				--bs-spinner-height: 64px;
				--bs-spinner-border-width: 8px;
				color: black;
			}
		}

		.description {
			label {
				font-weight: bold;
				text-decoration: underline;
			}
			
			::ng-deep {
				.ck-editor__editable_inline {
					padding: 0;
				}
			}
		}

		.price-container {
			display: flex;
			flex-direction: column;
			align-items: flex-end;
			margin-top: 32px;
			border-top: 2px solid black;

			.price {
				padding: 16px 32px 4px 16px;
				font-size: 18px;
				
				&:last-of-type {
					padding-bottom: 16px;
				}
				
				b {
					font-size: 20px;
					margin-left: 4px;
				}
			}

			.sign-up-btn {
				padding: 8px 12px;
				margin: 0 32px 16px 16px;
				background-color: var(--app-light-orange-color);
				font-size: 14px;
				font-weight: bold;
				width: 200px;

                &:hover {
                    color: black;
                }
			}
		}
	}
}