@use 'src/styles/mixins' as mixins;

$width: 400px;

.form-field-container {
    display: flex;
    flex-direction: column;

    input {
        padding: 12px;
        font-size: 14px;
        font-weight: bold;
        border-radius: 4px;
        width: calc(100% - 16px);
        border: 1px solid var(--app-light-gray-color);

        @include mixins.breakpoint(sm) {
            width: $width;
        }

        &.has-error {
            box-shadow: 0 0 0 0.25rem var(--app-light-danger-color);
        }
    }

    .errors {
        display: flex;
        flex-direction: column;
        margin-top: 4px;

        .error {
            font-size: 14px;
            font-weight: bold;
            color: var(--bs-danger);
        }
    }
}