<div class="login-login-field-container">
    <app-form-control-input class="form-field" type="text" label="Nazwa użytkownika" [control]="control" [id]="'login'">
        <form-control-error *ngIf="control.touched && control.hasError('required')">Pole wymagane</form-control-error>
        <form-control-error *ngIf="control.touched && control.hasError('maxlength')">Pole może zawierać maksymalnie {{ control.errors!['maxlength'].requiredLength }} znaków</form-control-error>
    </app-form-control-input>
</div>