.admin-orders-details-excursion-info-container {
    display: flex;
    flex-direction: column;

    span {
        display: flex;
        line-height: 1.75;
        align-items: center;
        gap: 4px;

        &.active {
            img {
                width: 21px;
                height: 21px;

                &.check {
                    filter: var(--app-green-color-filter);
                }
        
                &.close {
                    filter: var(--app-red-color-filter);
                }
            }
        }
    }
}