<section class="admin-excursions-form-short-description-container">
    <label for="short-description" class="form-label">Krótki opis</label>
    <input #inputRef type="text" id="short-description" class="form-control" [value]="value()" placeholder="Krótki opis"
        [disabled]="isDisabled()" (input)="updateValue(inputRef.value)" (blur)="onTouched()">
    <div *ngIf="errorKey && touched" class="errors" [ngSwitch]="errorKey">
        <span *ngSwitchCase="'required'">Pole wymagane</span>
        <span *ngSwitchCase="'maxlength'">Maksymalna długość pola wynosi 255 znaków</span>
    </div>
</section>