.admin-users-list-container {
    display: flex;
    flex-direction: column;
    width: 100%;

    .admin-users-list-section-title {
        font-weight: bold;
        margin: 0;
    }

    app-loading-spinner {
		display: block;
		margin: 32px auto;
	}

    .admin-users-list-action-buttons {
        margin-top: 16px;
        
        .add-user-btn {
            background-color: var(--app-light-orange-color);
            color: black;
            font-weight: bold;
    
            &:focus,
            &:active {
                outline: none;
                box-shadow: none;
            }
        }
    }

    .admin-users-list-filters-container {
        display: block;
        margin: 16px 0;

        #searchText {
            display: block;
            max-width: 250px;
        }
    }
}