<section class="home-newsletter-container">
	<span class="home-newsletter-header">Newsletter - zapisz się, aby otrzymywać informację o naszych ofertach i promocjach</span>
	<div *ngIf="!success" class="home-newsletter-content">
		<div class="home-newsletter-info-container">
			<span>Chcesz być na bieżąco z naszymi najnowszymi ofertami wycieczek? Zostaw swój adres e-mail poniżej, a my upewnimy się, że otrzymasz informacje o nowych, ekscytujących wycieczkach, które mamy do zaoferowania! Nie przegap okazji na wymarzone podróże - zapisz się już teraz!</span>
		</div>
		<div class="home-newsletter-form-container">
			<form class="home-newsletter-form" [formGroup]="form">
				<div>
					<label for="name" class="form-label">Imię</label>
					<input id="name" class="form-control" type="text" formControlName="name">
					<div class="error" *ngIf="form.get('name')!.errors?.['required'] && form.get('name')!['touched']">Pole wymagane</div>
					<div class="error" *ngIf="form.get('name')!.errors?.['maxlength'] && form.get('name')!['touched']">Maksymalna długość pola: 50 znaków</div>
				</div>
				<div>
					<label for="email" class="form-label">E-Mail</label>
					<input id="email" class="form-control" type="text" formControlName="email">
					<div class="error" *ngIf="form.get('email')!.errors?.['required'] && form.get('email')!['touched']">Pole wymagane</div>
					<div class="error" *ngIf="form.get('email')!.errors?.['email'] && form.get('email')!['touched']">Adres E-Mail jest nieprawidłowy</div>
					<div class="error" *ngIf="form.get('email')!.errors?.['maxlength'] && form.get('email')!['touched']">Maksymalna długość pola: 150 znaków</div>
				</div>
			</form>
		</div>
	</div>
	<div *ngIf="success" class="home-newsletter-content">
		<div *ngIf="success" class="home-newsletter-state-container">
			<img src="assets/icons/check-circle-fill.svg" alt="check-circle-fill" class="success">
			<span class="home-newsletter-state-header">Zapisałeś/aś się do newslettera</span>
		</div>
	</div>
	<div *ngIf="loadingState === LoadingState.ERROR" class="home-newsletter-content">
		<img src="assets/icons/x-circle-fill.svg" alt="x-circle-fill" class="error">
		<span class="home-newsletter-state-header">Wystąpił błąd</span>
	</div>
	<button *ngIf="!success && loadingState !== LoadingState.ERROR" type="button" class="btn home-newsletter-submit-btn" (click)="enroll()">
		<app-loading-spinner *ngIf="loadingState === LoadingState.LOADING; else btnText" [sizePX]="21" [color]="Color.BLACK" [center]="false"></app-loading-spinner>
		<ng-template #btnText>
			<span>Zapisz się</span>
		</ng-template>
	</button>
</section>