@use 'src/styles/mixins' as mixins;

.home-newsletter-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	padding: 32px;
	background-color: var(--app-light-gray-color2);

	.home-newsletter-header {
		width: 100%;
		text-align: center;
		font-size: 24px;
		font-weight: bold;
	}
	
	.home-newsletter-content {
		display: flex;
		flex-direction: column;
		gap: 32px;
		max-width: 1920px;
		width: 100%;
		margin: 32px 0;
		transition: all 0.5 ease;

		@include mixins.breakpoint(lg) {
			flex-direction: row;
		}

		.home-newsletter-info-container,
		.home-newsletter-form-container {
			display: flex;
			justify-content: center;
			align-items: center;
			width: 100%;

			@include mixins.breakpoint(lg) {
				width: 50%;
			}
		}

		.home-newsletter-info-container {
			span {
				width: 100%;

				@include mixins.breakpoint(lg) {
					max-width: 576px;
				}
			}
		}

		.home-newsletter-form-container {
			form {
				display: flex;
				flex-direction: column;
				gap: 12px;
				width: 100%;

				@include mixins.breakpoint(lg) {
					max-width: 576px;
				}
			}

			.error {
				color: var(--bs-danger);
				font-size: 14px;
				font-weight: bold;
			}
		}

		.home-newsletter-state-container {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			gap: 12px;
			width: 100%;

			.icon-container {
				display: flex;
				align-items: center;
				
				&.success {
					color: var(--bs-success);
				}

				&.error {
					color: var(--bs-danger);
				}
		
				.icon {
					display: inline-flex;
					width: 75px;
					height: 75px;
		
					svg {
						vertical-align: top;
						width: 75px;
						height: 75px;
					}
				}
			}

			.home-newsletter-state-header {
				text-align: center;
				font-size: 16px;
			}
		}
	}

	.home-newsletter-submit-btn {
		display: flex;
		align-items: center;
		justify-content: center;
		position: relative;
		background-color: var(--app-light-orange-color);
		color: black;
		font-weight: bold;
		width: 100%;
		max-width: 576px;
		min-height: 38px;

		app-loading-spinner {
			width: 21px;
			height: 21px;
		}
	}
}