@use 'src/styles/mixins' as mixins;

.excursions-details-images-container {
	position: relative;
	display: flex;
	flex-direction: column;
	gap: 8px;
	overflow: hidden;
	
	@media(min-width: 768px) {
		flex-direction: row;
		max-height: 270px;
	}

	@media(min-width: 1200px) {
		max-height: 360px;
	}

	@media(min-width: 1400px) {
		max-height: 480px;
	}

	.excursions-details-carousel-container {
		height: 100%;

		app-excursions-carousel {
			display: block;
			width: calc(100vw - 32px);

			@include mixins.breakpoint(sm) {
				width: auto;
			}
		}
	}

	.excursions-details-image-selector-container {
		display: flex;
		flex-wrap: nowrap;
		gap: 4px;
		max-height: 100%;
		overflow-x: auto;
		overflow-y: hidden;
		align-content: flex-start;

		@include mixins.breakpoint(md) {
			flex-direction: column;
			gap: 8px;
			overflow-x: hidden;
			overflow-y: auto;
		}

		.image-selectable {
			min-width: 125px;
			max-width: 125px;
			height: fit-content;
			transition: opacity 0.5s ease;
			opacity: 0.5;
			user-select: none;
			cursor: pointer;
			height: auto;
			aspect-ratio: 16/9;

			&:hover,
			&.current {
				opacity: 1;
			}

			@include mixins.breakpoint(xl) {
				min-width: 200px;
				max-width: 200px;
			}

			@include mixins.breakpoint(xxl) {
				min-width: 100%;
				max-width: 100%;
			}
		}
	}
}