.layout-container {
	display: flex;
	flex-direction: column;
	min-height: 100%;

	.layout-content {
		display: grid;
		width: 100%;
		min-height: calc(100vh - 80px);
		overflow-x: hidden;

		router-outlet {
			display: none;
		}

		> *:not(router-outlet) {
			display: block;
			width: 100%;
			overflow-x: hidden;
		}
	}

	app-footer {
		display: block;
	}
}