@use 'src/styles/mixins' as mixins;

.menu-container {
	position: relative;
	display: flex;
	flex-direction: column;
	padding: 16px;

	.close-btn {
		position: absolute;
		top: 0;
		right: 8px;
		color: red;
		cursor: pointer;
	}

	.logo-container {
		display: flex;
		align-items: center;
		justify-content: center;

		.logo {
			max-width: 200px;
		}
	}

	.divider {
		width: 100%;
		height: 2px;
		background-color: var(--app-black-opacity-2-color);
		margin: 17px 0 16px 0;
	}

	.navigation-container {
		display: flex;
		flex-direction: column;
		padding-top: 16px;

		.navigation {
			display: flex;
			padding: 8px 0;
			text-decoration: none;
			color: black;
			font-size: 16px;

			&:not(&:last-of-type) {
				border-bottom: 1px solid var(--app-black-opacity-1-color);
			}

			&:hover {
				color: var(--app-light-orange-color);
			}

			.text {
				flex: 1;
			}
		}
	}
}