<section class="admin-orders-excursion-container">
	<div class="admin-orders-excursion-colapse-trigger" (click)="collapse.toggle()">
		<span class="admin-orders-excursion-colapse-icon-container">
			<img src="assets/icons/image.svg" alt="image">
		</span>
		<span class="admin-orders-excursion-colapse-text">
			<span class="admin-orders-excursion-colapse-text-date">{{ excursion.dateFrom && excursion.dateTo ? (excursion.dateFrom | date: 'dd.MM.yyyy') + ' - ' + (excursion.dateTo | date: 'dd.MM.yyyy') : (excursion.dateFrom | date: 'dd.MM.yyyy') }}</span>
			<span class="admin-orders-excursion-colapse-text-title">{{ excursion.title }}</span>
		</span>
		<span class="admin-orders-excursion-collapse-actions-container">
			<button type="button" class="btn admin-orders-excursion-collapse-btn" [ngClass]="{ 'opened': !isCollapsed }">
				<img src="assets/icons/chevron-right.svg" alt="chevron-right">
			</button>
		</span>
	</div>
	<div class="admin-orders-excursion-collapse-content" #collapse="ngbCollapse" [(ngbCollapse)]="isCollapsed">
		<b *ngIf="!excursion.orders.length; else orders" class="admin-orders-excursion-collapse-content-no-orders">Brak zamówień</b>
		<ng-template #orders>
			<div class="admin-orders-excursion-collapse-list">
				<app-admin-orders-excursion-order *ngFor="let order of excursion.orders" [order]="order"></app-admin-orders-excursion-order>
			</div>
		</ng-template>
	</div>
</section>