<div class="excursions-enroll-container">
	<h3 class="section-title">Rezerwacja wycieczki</h3>
	<div *ngIf="excursionLoadingState === LoadingState.LOADING; else content" class="excursions-enroll-content">
		<app-loading-spinner></app-loading-spinner>
	</div>
	<ng-template #content>
		<div class="excursions-enroll-content">
			<app-excursions-enroll-showcase [excursion]="excursion"></app-excursions-enroll-showcase>
            <app-excursions-enroll-form [form]="form" [discount]="excursion.discount"></app-excursions-enroll-form>
			<div *ngIf="excursion.priceGross > 0" class="excursions-enroll-price-container">
				<span class="excursions-enroll-price">Wartość rezerwacji: <b>{{ price | number: '1.2-2' }}</b> PLN</span>
				<button type="submit" class="btn excursions-enroll-form-submit-btn" (click)="onReservation()">
					<app-loading-spinner *ngIf="excursionEnrollLoadingState === LoadingState.LOADING; else btnText" [sizePX]="21" [color]="Color.BLACK" [center]="false"></app-loading-spinner>
					<ng-template #btnText>
						<span>Rezerwuj</span>
					</ng-template>
				</button>
			</div>
		</div>
	</ng-template>
</div>