<div class="excursions-enroll-container">
	<h3 class="section-title">Rezerwacja wycieczki</h3>
	<div *ngIf="excursionLoadingState === LoadingState.LOADING; else content" class="excursions-enroll-content">
		<app-loading-spinner></app-loading-spinner>
	</div>
	<ng-template #content>
		<div class="excursions-enroll-content">
			<div class="excursion">
				<div class="excursion-image-container">
					<img [src]="excursion.images[0].base64" alt="excursion-image">
				</div>
				<div class="excursion-container">
					<span class="excursion-title">{{ excursion.title }}</span>
					<span class="excursion-date">Data: {{ excursion.dateFrom && excursion.dateTo ? (excursion.dateFrom | date: 'dd.MM.yyyy') + ' - ' + (excursion.dateTo | date: 'dd.MM.yyyy') : (excursion.dateFrom | date: 'dd.MM.yyyy') }}</span>
					<span class="excursion-price">Cena: {{ excursion.priceGross }} PLN / os</span>
				</div>
			</div>
			<div class="tour-participants-count-container">
				<div class="section-header">Uczestnicy wycieczki</div>
				<div class="tour-participants-count-content">
					<span class="form-label">Liczba uczestników wycieczki: </span>
					<select class="form-select" [(ngModel)]="tourParticipantsCount" (change)="onTourParticipantsChange()">
						<option selected value="1">1</option>
						<option value="2">2</option>
						<option value="3">3</option>
						<option value="4">4</option>
						<option value="5">5</option>
						<option value="6">6</option>
						<option value="7">7</option>
						<option value="8">8</option>
						<option value="9">9</option>
						<option value="10">10</option>
					  </select>
				</div>
			</div>
			<div class="booking-person-data-container">
				<div class="section-header">Dane osoby rezerwującej</div>
				<form class="booking-person-form" [formGroup]="form">
					<!-- Imie -->
					<label for="bookingPersonName" class="form-label">Imię</label>
					<input id="bookingPersonName" class="form-control" type="text" formControlName="bookingPersonName">
					<div class="error" *ngIf="form.get('bookingPersonName')!.errors?.['required'] && form.get('bookingPersonName')!['touched']">
						Pole wymagane
					</div>
					<div class="error" *ngIf="form.get('bookingPersonName')!.errors?.['maxlength'] && form.get('bookingPersonName')!['touched']">
						Maksymalna długość pola: 50 znaków
					</div>

					<!-- Nazwisko -->
					<label for="bookingPersonSurname" class="form-label">Nazwisko</label>
					<input id="bookingPersonSurname" class="form-control" type="text" formControlName="bookingPersonSurname">
					<div class="error" *ngIf="form.get('bookingPersonSurname')!.errors?.['required'] && form.get('bookingPersonSurname')!['touched']">
						Pole wymagane
					</div>
					<div class="error" *ngIf="form.get('bookingPersonSurname')!.errors?.['maxlength'] && form.get('bookingPersonSurname')!['touched']">
						Maksymalna długość pola: 50 znaków
					</div>

					<!-- E-mail -->
					<label for="bookingPersonEmail" class="form-label">E-mail</label>
					<input id="bookingPersonEmail" class="form-control" type="email" formControlName="bookingPersonEmail">
					<div class="error" *ngIf="form.get('bookingPersonEmail')!.errors?.['required'] && form.get('bookingPersonEmail')!['touched']">
						Pole wymagane
					</div>
					<div class="error" *ngIf="form.get('bookingPersonEmail')!.errors?.['email'] && form.get('bookingPersonEmail')!['touched']">
						Wprowadzony adres E-mail jest nieprawidłowy
					</div>
					<div class="error" *ngIf="form.get('bookingPersonEmail')!.errors?.['maxlength'] && form.get('bookingPersonEmail')!['touched']">
						Maksymalna długość pola: 150 znaków
					</div>

					<!-- Telefon -->
					<label for="bookingPersonTelephone" class="form-label">Telefon kontaktowy</label>
					<input id="bookingPersonTelephone" class="form-control" type="tel" formControlName="bookingPersonTelephone">
					<div class="error" *ngIf="form.get('bookingPersonTelephone')!.errors?.['required'] && form.get('bookingPersonTelephone')!['touched']">
						Pole wymagane
					</div>
					<div class="error" *ngIf="form.get('bookingPersonTelephone')!.errors?.['pattern'] && form.get('bookingPersonTelephone')!['touched']">
						Wprowadzony number telefonu kontaktowego jest nieprawidłowy
					</div>

					<!-- Data urodzenia -->
					<label for="bookingPersonBirthDate" class="form-label">Data urodzenia</label>
					<div class="input-group date">
						<input id="bookingPersonBirthDate" class="form-control" placeholder="dd/mm/yyyy" name="dp"
							formControlName="bookingPersonBirthDate" ngbDatepicker #d="ngbDatepicker"
							placement="bottom-start" [value]="formatter.format(form.controls['bookingPersonBirthDate'].value)"
							[autoClose]="'outside'" (click)="d.open()" [minDate]="minDate" [maxDate]="maxDate"/>
						<button class="btn btn-outline-secondary" (click)="d.toggle()" type="button">
							<img src="assets/icons/calendar.svg" alt="datepicker">
						</button>
					</div>
					<div class="error" *ngIf="form.get('bookingPersonBirthDate')!.errors?.['required'] && form.get('bookingPersonBirthDate')!['touched']">
						Pole wymagane
					</div>

					<!-- Ulga -->
					<div *ngIf="excursion.discount" class="form-check">
						<input type="checkbox" formControlName="bookingPersonDiscount" class="form-check-input" id="bookerDiscount">
						<label class="form-check-label" for="bookerDiscount">Ulga</label>
					</div>
				</form>
			</div>
			<div *ngIf="+tourParticipantsCount > 1" class="tour-participants-container">
				<div class="section-header">Dane osobiste pozostałych uczestników wycieczki</div>
				<div class="tour-participants-content">
					<div *ngFor="let participant of participants; let i = index" class="tour-participant">
						<span class="participant-counter">Dane osobiste {{ i + 1 }} osoby</span>
						<form class="tour-participant-form" [formGroup]="participant">
							<!-- Imię -->
							<label [for]="'participant-name' + i" class="form-label">Imię</label>
							<input [id]="'participant-name' + i" class="form-control" type="text" formControlName="name">
							<div class="error" *ngIf="participant.get('name')!.errors?.['required'] && participant.get('name')!['touched']">
								Pole wymagane
							</div>
							<div class="error" *ngIf="participant.get('name')!.errors?.['maxlength'] && participant.get('name')!['touched']">
								Maksymalna długość pola: 50 znaków
							</div>

							<!-- Nazwisko -->
							<label [for]="'participant-surname' + i" class="form-label">Nazwisko</label>
							<input [id]="'participant-surname' + i" class="form-control" type="text" formControlName="surname">
							<div class="error" *ngIf="participant.get('surname')!.errors?.['required'] && participant.get('surname')!['touched']">
								Pole wymagane
							</div>
							<div class="error" *ngIf="participant.get('surname')!.errors?.['maxlength'] && participant.get('surname')!['touched']">
								Maksymalna długość pola: 50 znaków
							</div>

							<!-- Data urodzenia -->
							<label [for]="'participant-date' + i" class="form-label">Data urodzenia</label>
							<div class="input-group date">
								<input id="'participant-date' + i" class="form-control" placeholder="dd/mm/yyyy" name="dp"
									formControlName="birthDate" ngbDatepicker #d="ngbDatepicker" placement="bottom-start"
									[value]="formatter.format(participant.controls['birthDate'].value)" [autoClose]="'outside'" (click)="d.open()"
									[minDate]="minDate" [maxDate]="maxDate"/>
								<button class="btn btn-outline-secondary" (click)="d.toggle()" type="button">
									<img src="assets/icons/calendar.svg" alt="datepicker">
								</button>
							</div>
							<div class="error" *ngIf="participant.get('birthDate')!.errors?.['required'] && participant.get('birthDate')!['touched']">
								Pole wymagane
							</div>

							<!-- Ulga -->
							<div *ngIf="excursion.discount" class="form-check">
								<input type="checkbox" formControlName="discount" class="form-check-input" [id]="'discount' + i">
								<label class="form-check-label" [for]="'discount' + i">Ulga</label>
							</div>
						</form>
					</div>
				</div>
			</div>
			<div class="payment-methods-container">
				<div class="section-header">Sposoby płatności</div>
				<div class="payment-methods-content">
					<div class="payment-method" [ngClass]="{ 'selected': form.controls['paymentMethod'].value === PaymentMethod.TRADITIONAL_TRANSFER }"
						(click)="selectPaymentMethod(PaymentMethod.TRADITIONAL_TRANSFER)">
						<img src="assets/icons/credit-card.svg">
						<span>Przelew tradycyjny</span>
					</div>
					<div class="payment-method disabled" [ngClass]="{ 'selected': form.controls['paymentMethod'].value === PaymentMethod.PRZELEWY_24 }">
						<img src="assets/icons/Przelewy24_logo.svg">
						<span>Przelewy24 (wkrótce)</span>
					</div>
				</div>
			</div>
			<div class="info-container">
				<span>Organizator ma prawo odwołać wycieczkę z powodu niewystarczającej liczby chętnych. Decyzja o odwołaniu wycieczki będzie podejmowana na 7 dni przed planowanym wyjazdem. W przypadku odwołania wycieczki z powodu niewystarczającej liczby chętnych, organizator zobowiązuje się zwrócić uczestnikom pełną kwotę wpłaconą za wycieczkę w ciągu 7 dni od dnia odwołania.</span>
			</div>
			<div *ngIf="excursion.priceGross > 0" class="price-container">
				<span class="price">Wartość rezerwacji: <b>{{ price | number: '1.2-2' }}</b> PLN</span>
				<button type="submit" class="btn form-submit-btn" (click)="onReservation()">
					<app-loading-spinner *ngIf="excursionEnrollLoadingState === LoadingState.LOADING; else btnText" [sizePX]="21" [color]="Color.BLACK" [center]="false"></app-loading-spinner>
					<ng-template #btnText>
						<span>Rezerwuj</span>
					</ng-template>
				</button>
			</div>
		</div>
	</ng-template>
</div>