@use 'src/styles/mixins' as mixins;

.home-carousel-container {
	display: grid;
	grid-auto-flow: row;
	padding: 32px;
	gap: 16px;
	max-width: 1920px;
	
	@include mixins.breakpoint(sm) {
		place-items: center;
	}
	
	@include mixins.breakpoint(md) {
		grid-auto-flow: column;
	}

	.home-carousel-header {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		text-align: center;
		max-width: 1920px;

		h2 {
			margin-bottom: 32px;
			font-weight: bold;
		}

		span {
			font-size: 20px;
			font-weight: normal;
		}
	}

	.home-carousel-content {
		position: relative;
		max-width: 1920px;
		
		.home-carousel {
			width: 100%;

			@include mixins.breakpoint(sm) {
				width: 400px
			}

			@include mixins.breakpoint(lg) {
				width: 480px;
			}

			@include mixins.breakpoint(xl) {
				width: 640px;
			}

			@include mixins.breakpoint(xxl) {
				width: 800px;
			}

			&.loading {
				.image-wrapper {
					app-loading-spinner {
						position: absolute;
						top: 50%;
						left: 50%;
						transform: translate(-50%, -50%);
					}
				}
			}
	
			.image-wrapper {
				position: relative;
				height: 0;
				padding-top: 56%;
	
				img {
					position: absolute;
					top: 0;
					left: 0;
					bottom: 0;
					right: 0;
				}
			}

			.carousel-caption {
				p {
					display: none;
					
					@include mixins.breakpoint(lg) {
						display: initial;
					} 
				}
			}
		}

		.loading-spinner {
			position: absolute;
			top: calc(50% - 32px);
			left: calc(50% - 32px);
			--bs-spinner-width: 64px;
			--bs-spinner-height: 64px;
			--bs-spinner-border-width: 8px;
			color: black;
		}
	}
}