.form-check-input {
    &:checked {
        background-color: var(--app-light-orange-color);
        border-color: var(--app-light-orange-color);
    }
    
    &:focus {
        border-color: inherit;
        outline: 0;
        box-shadow: none;
        border-color: var(--app-light-orange-color);
    }
}

.errors {
    margin-top: 4px;
    
    span {
        font-size: 14px;
        color: var(--bs-danger);
    }
}