// @use 'bootstrap/scss/bootstrap';
@use 'src/styles/variables';
@use 'src/styles/mixins';

html {
	height: 100%;
}

body {
	overflow-x: hidden;
	height: 100%;

	*:focus {
		outline: none !important;
	}
}