@use "bootstrap/scss/bootstrap";

@use 'src/styles/variables';
@use 'src/styles/mixins';
@use 'src/styles/partials/_toasts';
@use 'src/styles/partials/_dropdowns';
@use 'src/styles/partials/_forms';

html,
body {
	height: 100%;
	scroll-padding-top: 32px;
}

.offcanvas {
	overflow: auto;
}