<section class="admin-excursions-form-images-container">
	<input #file type="file" (change)="onFileChange($event)">
	<div *ngFor="let image of images; let i = index" class="image-container draggable" draggable="true"
		(dragstart)="onDragStart($event, i)" (dragover)="onDragOver($event)" (drop)="onDrop($event, i)">
		<img class="image" [src]="image.base64">
		<span class="image-delete" (click)="onDelete(image)">
			<div class="icon-container">
				<svg-icon class="icon" name="delete"></svg-icon>
			</div>
		</span>
	</div>
	<div class="image-container" (click)="file.click()">
		<div class="icon-container">
			<svg-icon class="icon" name="plus"></svg-icon>
		</div>
	</div>
</section>