<div class="admin-excursions-form-dates-container">
	<div class="datepicker-hidden position-absolute datepicker-container">
		<input name="datepicker" class="form-control" ngbDatepicker #datepicker="ngbDatepicker" [autoClose]="'outside'" (dateSelect)="onDateSelection($event)"
			[displayMonths]="2" [dayTemplate]="t" outsideDays="hidden" [startDate]="dateFromControl.value!" tabindex="-1"/>
		<ng-template #t let-date let-focused="focused">
			<span class="custom-day" [class.focused]="focused" [class.range]="isRange(date)" [class.faded]="isHovered(date) || isInside(date)"
				(mouseenter)="hoveredDate = date" (mouseleave)="hoveredDate = null">
				{{ date.day }}
			</span>
		</ng-template>
	</div>
	<div class="input-group date">
		<input #dpFromDate class="form-control" placeholder="dd-mm-yyyy" name="dpFromDate" id="dateFrom" [value]="formatter.format(dateFromControl.value)"
			(input)="dateFromControl.setValue(validateInput(dateFromControl.value, dpFromDate.value))"/>
		<button class="btn btn-outline-secondary" (click)="datepicker.open()" type="button">
			<img src="assets/icons/calendar.svg" loading="eager">
		</button>
	</div>
	<div class="input-group date">
		<input #dpToDate class="form-control" placeholder="dd-mm-yyyy" name="dpToDate" [value]="formatter.format(dateToControl.value)"
			(input)="dateToControl.setValue(validateInput(dateToControl.value, dpToDate.value))"/>
		<button class="btn btn-outline-secondary" (click)="datepicker.open()" type="button">
			<div class="icon-container">
				<img src="assets/icons/calendar.svg" loading="eager">
			</div>
		</button>
	</div>
</div>