<section class="admin-excursions-table-container">
	<h3 class="section-title">Wycieczki</h3>
	<div class="buttons-container">
		<button type="button" class="btn add-excursion-btn" routerLink="/admin/form">
			<span>Dodaj wycieczkę</span>
		</button>
	</div>
	<app-loading-spinner *ngIf="state === LoadingState.LOADING; else content" [center]="false"></app-loading-spinner>
	<ng-template #content>
		<div *ngIf="excursions" class="admin-excursions-table-content">
			<table class="table table-striped table-hover table-responsive">
				<thead class="table-responsive">
					<tr>
						<th scope="col" class="excursion-title">Nazwa</th>
						<th scope="col" class="excursion-date-from">Data od</th>
						<th scope="col" class="excursion-date-to">Data do</th>
						<th scope="col" class="excursion-active">Aktywna</th>
						<th scope="col" class="excursion-in-carousel">W karuzeli</th>
						<th scope="col" class="excursion-actions">Akcje</th>
					</tr>
				</thead>
				<tbody class="table-responsive">
					<tr *ngFor="let excursion of excursions">
						<td class="excursion-title">{{ excursion.title }}</td>
						<td class="excursion-date-from">{{ (excursion.dateFrom | date: 'dd.MM.yyyy') ?? '-' }}</td>
						<td class="excursion-date-to">{{ (excursion.dateTo | date: 'dd.MM.yyyy') ?? '-' }}</td>
						<td class="excursion-active">
							<img [src]="excursion.active ? 'assets/icons/check.svg' : 'assets/icons/close.svg'" [ngClass]="excursion.active ? 'check': 'close'" loading="eager">
						</td>
						<td class="excursion-in-carousel">
							<img [src]="excursion.inCarousel ? 'assets/icons/check.svg' : 'assets/icons/close.svg'" [ngClass]="excursion.inCarousel ? 'check': 'close'" loading="eager">
						</td>
						<td class="excursion-actions">
							<img src="assets/icons/edit.svg" class="edit" (click)="edit(excursion.id)" loading="eager">
							<img src="assets/icons/delete.svg" class="delete" (click)="delete(excursion.id)" loading="eager">
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</ng-template>
</section>