.admin-excursions-table-container {
	display: flex;
	flex-direction: column;
	width: 100%;

	.section-title {
		font-weight: bold;
		margin: 0;
	}

	.buttons-container {
		display: flex;
		margin-top: 16px;

		.add-excursion-btn {
			background-color: var(--app-light-orange-color);
			color: black;
			font-weight: bold;
		}
	}

	app-admin-excursions-table-filters {
		display: block;
		margin-top: 16px;
	}

	app-loading-spinner {
		display: block;
		margin: 32px auto;
	}

	.admin-excursions-table-content {
        display: block;
		width: 100%;
		overflow: auto;
		margin-top: 8px;

		table {
			thead {
				tr {
					th {
                        padding: 12px 16px;
						white-space: nowrap;

						&.excursion-date-from,
						&.excursion-date-to,
						&.excursion-active,
						&.excursion-in-carousel,
                        &.excursion-actions,
                        &.excursion-seats,
                        &.excursion-available-seats {
							text-align: center;
						}

						&.sortable {
							span {
								cursor: pointer;
								
								&:hover {
									color: var(--app-light-orange-color);
								}
							}
						}

						&.current {
							color: var(--app-light-orange-color);
						}
					}
				}
			}

			tbody {
				tr {
					td {
                        padding: 12px 16px;
						vertical-align: middle;

						&.excursion-date-from,
						&.excursion-date-to,
						&.excursion-active,
						&.excursion-in-carousel,
                        &.excursion-seats,
                        &.excursion-available-seats {
							text-align: center;
						}

						&.excursion-active,
						&.excursion-in-carousel {
							.icon-container {
								justify-content: center;
							}
						}

                        &.excursion-actions {
                            .excursion-actions-buttons {
                                display: flex;
                                flex-wrap: wrap;
                                justify-content: center;
                                gap: 12px;

                                &.disabled {
                                    * {
                                        opacity: 0.5;
                                        pointer-events: none;
                                    }
                                }
                            }
                        }

                        img {
                            display: inline-flex;
                            width: 20px;
                            height: 20px;

                            &.edit,
                            &.delete,
                            &.template {
                                cursor: pointer;
                            }

                            &.check {
                                filter: var(--app-green-color-filter);
                            }

                            &.close,
                            &.delete {
                                filter: var(--app-red-color-filter);
                            }

                            &.template {
                                filter: var(--app-primary-color-filter);
                            }
                        }
					}
				}
			}
		}
	}
}