@use 'src/styles/mixins' as mixins;

.footer-socials-container {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
	
	@include mixins.breakpoint(md) {
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-evenly;
	}

	.socials {
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		justify-content: center;
		width: 200px;
		
		@include mixins.breakpoint(md) {
			width: auto;
		}

		&:first-of-type {
			margin-bottom: 16px;

			@include mixins.breakpoint(sm) {
				margin-bottom: 24px;
			}

			@include mixins.breakpoint(md) {
				margin-bottom: 0;
			}
		}

		&.bank {
			margin: 0;
			margin-top: 16px;
			width: 100%;

			@include mixins.breakpoint(sm) {
				margin-top: 24px;
			}

			@include mixins.breakpoint(md) {
				align-items: center;
			}

			.social {
				margin: 0 !important;
			}
		}

		.social {
			display: flex;
			text-decoration: none;
			font-weight: 500;
			color: var(--app-white-color);
			padding-right: 8px;
			align-items: center;
			
			&:first-of-type {
				margin-bottom: 16px;
				
				@include mixins.breakpoint(sm) {
					margin-bottom: 24px;
				}
			}

			&:hover {
				.text {
					color: var(--app-light-blue-color);
				}
			}

			.icon {
				width: 20px;
				height: 20px;
				background: var(--app-white-color);
				margin-right: 8px;
				mask-size: cover;
				background-color: var(--app-light-orange-color);

				&.telephone {
					mask-image: url("/assets/images/socials/telephone.svg");
				}

				&.email {
					mask-image: url("/assets/images/socials/email.svg")
				}

				&.instagram {
					mask-image: url("/assets/images/socials/instagram.svg");
				}

				&.facebook {
					mask-image: url("/assets/images/socials/facebook.svg");
				}

				&.bank {
					mask-image: url("/assets/icons/bank.svg");
				}
			}

			.text {
				line-height: 1;
			}
		}
	}
}