<section class="footer-socials-container">
	<div class="socials">
		<a class="social" href="tel:+48663222912">
			<span class="icon telephone"></span>
			<span class="text">+48 663 222 912</span>
		</a>
		<a class="social" href="mailto:jdpodroze@gmail.com">
			<span class="icon email"></span>
			<span class="text">jdpodroze@gmail.com</span>
		</a>
	</div>
	<div class="socials">
		<a class="social" href="https://facebook.com/jdpodroze">
			<span class="icon facebook"></span>
			<span class="text">jdpodroze</span>
		</a>
		<a class="social" href="https://instagram.com/jd_podroze">
			<span class="icon instagram"></span>
			<span class="text">jd_podroze</span>
		</a>
	</div>
	<div class="socials bank">
		<a class="social bank" href="" (click)="$event.preventDefault()">
			<span class="icon bank"></span>
			<span class="text">ING Bank Śląski<br>75 1050 1621 1000 0097 8972 9952</span>
		</a>
	</div>
</section>