<section class="footer-socials-container">
	<div class="socials">
		<a class="social" href="tel:+48663222912">
			<span class="icon telephone"></span>
			<span class="text">+48 123 456 789</span>
		</a>
		<a class="social" href="mailto:jdpodroze@gmail.com">
			<span class="icon email"></span>
			<span class="text">mail@gmail.com</span>
		</a>
	</div>
	<div class="socials">
		<a class="social" href="https://facebook.com/jdpodroze">
			<span class="icon facebook"></span>
			<span class="text">podroze</span>
		</a>
		<a class="social" href="https://instagram.com/jd_podroze">
			<span class="icon instagram"></span>
			<span class="text">podroze</span>
		</a>
	</div>
	<div class="socials bank">
		<a class="social bank" href="" (click)="$event.preventDefault()">
			<span class="icon bank"></span>
			<span class="text">Bank<br>12 1234 1234 1234 1234 1234 1234</span>
		</a>
	</div>
</section>